body {
  min-width: 960px;
  margin: 0;
  padding: 0;

  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  margin-bottom: 60px;

  font-family: Cuprum, Arial, sans-serif;

  background-color: #f3f7f9;
}

.header-top {
  margin-bottom: 46px;

  font-size: 17px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.logo {
  font-family: Cuprum, Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
          box-shadow: 0 5px 0 0 #b52933;
}

.header-logo {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 55px;

  font-size: 24px;
  line-height: 24px;
}

.header-logo:hover,
.footer-logo:hover {
  background-color: #ca2c37;
  -webkit-box-shadow: 0 5px 0 0 #9a212a;
          box-shadow: 0 5px 0 0 #9a212a;
}

.header-logo:active,
.footer-logo:active {
  background-color: #ba2732;
  -webkit-box-shadow: 0 5px 0 0 #8e1e26;
          box-shadow: 0 5px 0 0 #8e1e26;
}

.site-search-form {
  position: relative;
}

.site-search-form::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  z-index: 1;

  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search.svg");
  background-position: 0 0;
  opacity: 0.3;

  backgroun-repeat: no-repeat;
}

.site-search-form:hover::before {
  opacity: 1;
}

.site-search-input {
  position: relative;

  min-width: 217px;
  padding-top: 11px;
  padding-right: 5px;
  padding-bottom: 11px;
  padding-left: 48px;

  color: #293449;

  background-color: #293449;
  border: none;
}

.site-search-input:hover {
  background-color: #212a3a;
}

.site-search-input:focus {
  z-index: 1;

  background-color: #ffffff;
  background-image: url("../img/icon-search-red.svg");
  background-repeat: no-repeat;
  background-position: 17px 12px;
}

.site-search-input::-webkit-input-placeholder {
  color: #ffffff;
}
.site-search-input::-moz-placeholder {
  color: #ffffff;
}
.site-search-input:-ms-input-placeholder {
  color: #ffffff;
}
.site-search-input:-moz-placeholder {
  color: #ffffff;
}

.header-buy-items,
.site-navigation,
.user-login-list,
.user-order-menu {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-order-menu {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 230px;
  margin-top: 4px;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 19px;

  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -ms-flex-wrap: wrap;
}

.user-user-order {
  width: 75px;
}

.user-order-menu::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 109px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

.user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 243px;
  padding-top: 12px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 48px;

  background-color: #ffffff;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.header-buy-items a,
.site-navigation a {
  color: #ffffff;
}

.header-buy-item:hover {
  background-color: #212a3a;
}

.header-buy-items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  min-height: 42px;

  -ms-flex-wrap: wrap;
}

.header-buy-item {
  padding-top: 11px;
  padding-bottom: 4px;
}

.buy-item-bookmark {
  position: relative;

  min-width: 100px;
  padding-right: 6px;
  padding-left: 44px;
}

.buy-item-bookmark::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
} 

.buy-item-bookmark:hover::before,
.buy-item-basket:hover::before {
  opacity: 1;
}

.buy-item-bookmark:active::before,
.buy-item-basket:active::before {
  opacity: 0.5;
}

.buy-item-basket {
  position: relative;

  min-width: 95px;
  padding-right: 6px;
  padding-left: 49px;
}

.buy-item-basket::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-buy-item:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #161d29;
}

.buy-item-add {
  background-color: #ee3643;
}

.buy-now {
  min-width: 108px;
  padding-right: 22px;
  padding-left: 20px;

  background-color: #63a63e;
}

.buy-now:hover {
  background-color: #5fbb2d;
}

.buy-now:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #518534;
}

.main-title {
  display: block;
  width: 210px;
  margin: 0;
  margin-top: 2px;
  margin-right: 55px;
  margin-left: 52px;
  padding: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
      flex-wrap: wrap;

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-wrap: wrap;
}

.user-login-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  width: 280px;
  margin-left: 69px;

  -ms-flex-wrap: wrap;
}

.user-login {
  position: relative;

  min-width: 49px;
  margin-right: 10px;
  padding-right: 26px;
  padding-bottom: 10px;
  padding-left: 46px;
}

.user-login::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-login:hover::before {
  opacity: 1;
}

.user-login:active::before {
  opacity: 0.3;
}

.user-register {
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 23px;
}

.header-contacts-phone {
  position: relative;

  width: 189px;
  margin-bottom: 4px;
  padding-top: 9px;
  padding-right: 5px;
  padding-bottom: 8px;
  padding-left: 71px;

  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-contacts-phone::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 12px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-contacts-adress {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 270px;
  padding-right: 5px;
  padding-left: 9px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-account-menu {
  margin-left: 48px;
}

.user-login-item {
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 12px;

  font-size: 21px;
  line-height: 21px;
  vertical-align: top;
  color: #000000;

  background-color: #ffffff;
}

.user-login-item:hover {
  color: #ee3643;
}

.user-login-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-account-name {
  position: relative;

  display: block;
  width: 200px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}  

.user-account-name::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -33px;

  width: 20px;
  height: 17px;

  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-account-logout {
  width: 21px;
  height: 17px;
  margin-top: 2px;

  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-account-name:hover::before,
.user-account-logout:hover {
  opacity: 1;
}  

.user-account-name:active::before,
.user-account-logout:active {
  opacity: 0.3;
}    

.user-account-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-order-item {
  display: block;

  font-weight: 18px;
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
}

.user-order-menu li:nth-child(2n) {
  margin-left: 30px;
}

.user-account {
  margin-left: 32px;
}

.user-order-item:hover {
  color: #ee3643;
}

.user-order-item:active {
  color: rgba(50, 66, 92, 0.3);
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;

  font-size: 17px;
  line-height: 17px;

  background-color: #32425c;
  border-bottom: 5px solid #293449;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.site-navigation-item {
  display: block;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 18px;
  padding-left: 30px;
}

.navigation-first-item {
  padding-left: 51px;
}

.navigation-last-item {
  padding-right: 54px;
}

.site-navigation-item:hover {
  background-color: #293449;
}

.site-navigation-item:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

.features-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  min-height: 123px;
  padding-top: 20px;
  padding-right: 100px;
  padding-left: 22px;

  font-family: Cuprum, Arial, sans-serif;
  color: #ffffff;
}

.features-title {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.features-slider {
  position: relative;

  width: 620px;
  height: 266px;
  margin: 0;
  padding: 0;
}

.features-first-slide,
.features-second-slide {
  width: 620px;
  height: 266px;
}

.slider-title {
  position: absolute;
  top: 22px;
  left: 23px;

  margin: 0;
  padding: 0;

  text-transform: uppercase;
}

.slider-slogan {
  position: absolute;
  top: 60px;
  left: 24px;

  font-size: 18px;
  line-height: 24px;
}

.slider-button-inner {
  position: absolute;
  top: 206px;
  left: 25px;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 195px;
  min-height: 38px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 49px;
}

.slider-inner {
  display: none;
  width: 620px;
  height: 266px;
}

.slider-buttons-previous {
  position: absolute;
  top: 114px;
  right: 573px;

  width: 22px;
  height: 40px;

  background: none;
  background-image: url("../img/icon-left.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  cursor: pointer;
}

.slider-buttons-next {
  position: absolute;
  top: 114px;
  right: 20px;

  width: 22px;
  height: 40px;

  background: none;
  background-image: url("../img/icon-right.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  cursor: pointer;
}

.features-slider-toggles {
  position: absolute;
  top: 216px;
  left: 293px;
  z-index: 100;

  width: 100px;
  height: 20px;

  cursor: pointer;
}  

.main-slider-toggle {
  position: relative;

  display: inline-block;
  width: 16px;
  height: 16px;

  vertical-align: top;

  border-radius: 50%;
  cursor: pointer;
}

.main-slider-toggle::after {
  content: "";
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  z-index: 1;

  width: 10px;
  height: 10px;

  background: #ffffff;
  border-radius: 50%;
}

#perf-slide:checked ~ .slider-inner-first {
  display: block;
} 

#drill-slide:checked ~ .slider-inner-second {
  display: block;
}

#drill-slide:checked ~ .features-slider-toggles .main-slider-toggle-2::before {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  z-index: 2;

  width: 6px;
  height: 6px;

  background-color: #ee3643;
  border-radius: 50%;
}

#perf-slide:checked ~ .features-slider-toggles .main-slider-toggle-1::before {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  left: calc(50% - 3px);
  z-index: 2;

  width: 6px;
  height: 6px;

  background-color: #ee3643;
  border-radius: 50%;
}

.button {
  font-size: 14px;
  line-height: 18px;
  font-family: Cuprum, Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  border-radius: 2px;
}

.features-link {
  display: inline-block;
  margin-bottom: 22px;
  margin-left: 3px;
  padding-top: 10px;
  padding-bottom: 10px;

  vertical-align: top;

  background-color: rgba(0, 0, 0, 0.1);
}

.features-link:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.link-material {
  padding-right: 24px;
  padding-left: 24px;
}

.link-tool {
  padding-right: 26px;
  padding-left: 26px;
}

.link-tech {
  padding-right: 31px;
  padding-left: 28px;
}

.link-discount {
  padding-right: 23px;
  padding-left: 20px;
}

.link-delivery {
  padding-right: 38px;
  padding-left: 34px;
}

.features-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.material {
  position: relative;

  background-color: #ffbf47;
}

.material::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 43px;

  width: 44px;
  height: 65px;

  background-image: url("../img/f-material.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tool {
  position: relative;

  background-color: #3bbce3;
}

.tool::after {
  content: "";
  position: absolute;
  top: 33px;
  right: 28px;

  width: 75px;
  height: 61px;

  background-image: url("../img/f-tool.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.tech {
  position: relative;

  background-color: #dc91d8;
}

.tech::after {
  content: "";
  position: absolute;
  top: 31px;
  right: 31px;

  width: 78px;
  height: 62px;

  background-image: url("../img/f-tech.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.discount {
  position: relative;

  background-color: #8ed78f;
}

.discount::after {
  content: "";
  position: absolute;
  top: 26px;
  right: 45px;

  width: 59px;
  height: 72px;

  background-image: url("../img/f-discount.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.delivery {
  position: relative;

  background-color: #ffc047;
}

.delivery::after {
  content: "";
  position: absolute;
  top: 32px;
  right: 31px;

  width: 78px;
  height: 63px;

  background-image: url("../img/f-delivery.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-slider-text {
  font-family: Cuprum, Arial, sans-serif;
  color: #ffffff;
}

.slider-title {
  padding-right: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
}

.slogan-perf {
  font-family: "PT Sans", Arial, sans-serif;
}

.features-slider-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.button-red {
  background-color: #ee3643;
}

.button-red:hover {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}

.heading-container {
  background-color: #f9f5f0;
}

.heading-title {
  font-size: 30px;
  line-height: 30px;
  font-family: Cuprum, Arial, sans-serif;
  text-transform: uppercase;
}

.heading-blue {
  color: #32425c;
}

.goods-list,
.companies-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  padding-bottom: 9px;

  border: 1px solid #eaeaea;
}

.catalog-item img {
  width: 218px;
  height: 150px;
}

.catalog-items-list .catalog-item:nth-child(3n) {
  margin-right: 0;
}

.item-for-catalog {
  margin-bottom: 20px;
}

.new-catalog::before {
  content: "";
  position: absolute;
  top: -1px;
  right: -1px;

  width: 60px;
  height: 59px;

  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.catalog-item:hover {
  border: 1px solid transparent;
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-item-name {
  display: inline-block;
  width: 180px;
  margin: 0;
  margin-top: 21px;
  padding-right: 10px;
  padding-left: 18px;

  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  font-family: "PT Sans", Arial, sans-serif;
  vertical-align: top;
  text-align: center;
}

.catalog-item:hover img {
  display: none;
}

.catalog-item:hover .catalog-buy-buttons {
  display: block;
}

.catalog-buy-buttons {
  display: none;
}

.active-catalog img {
  display: none;
}

.active-catalog-buttons {
  display: block;
}

.button-green {
  position: relative;

  display: inline-block;
  min-width: 42px;
  margin-top: 44px;
  margin-bottom: 8px;
  margin-left: 41px;
  padding-top: 9px;
  padding-right: 44px;
  padding-bottom: 7px;
  padding-left: 49px;

  vertical-align: top;

  background-color: #63a63e;
  border-bottom: 3px solid #367315;
}

.button-green::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 14px;

  display: block;
  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.button-green:hover::before {
  opacity: 1;
}

.button-green:hover {
  background-color: #5fbb2d;
}

.button-green:active {
  background-color: #518534;
  border-bottom-color: #518534;
}

.button-bookmark {
  display: inline-block;
  min-width: 71px;
  margin-bottom: 31px;
  margin-left: 41px;
  padding-top: 7px;
  padding-right: 25px;
  padding-bottom: 7px;
  padding-left: 33px;

  vertical-align: top;
  color: #32425c;

  border: 3px solid #63a63e;
}

.button-bookmark:hover {
  border: 3px solid #32425c;
}

.button-bookmark:active {
  opacity: 0.3;
}

.price {
  display: block;
  margin-top: 9px;
  margin-left: 77px;

  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #ffffff;
}

.oldprice {
  margin-top: 12px;

  color: #a9a9a9;
  text-decoration: line-through;
}

.price-background {
  position: relative;

  display: block;
  box-sizing: border-box;
  width: 122px;
  min-height: 38px;
  margin-left: 42px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 35px;

  background-color: #ee3643;
  border-radius: 5px 0 0 3px;
}

.price-background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 121px;

  border-top: 19px solid transparent;
  border-right: none;
  border-bottom: 19px solid transparent;
  border-left: 20px solid #ee3643;
}

.without-discount {
  margin-top: 39px;
}

.companies-title {
  display: inline-block;
  width: 450px;
  margin: 0;
  margin-right: 105px;
  padding: 0;
  padding-top: 30px;
  padding-right: 35px;
  padding-bottom: 29px;
  padding-left: 24px;

  font-weight: normal;
  vertical-align: top;
}

.button-companies {
  display: inline-block;
  margin-top: 25px;
  margin-right: 24px;
  margin-bottom: 25px;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 69px;
  padding-bottom: 10px;
  padding-left: 69px;

  vertical-align: top;
}

.companies-item {
  position: relative;

  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  min-height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;

  border: 1px solid #e5e5e5;
}

.companies-item:nth-child(4n) {
  margin-right: 0;
}

.companies-item:hover {
  -webkit-box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.companies-item:active {
  opacity: 0.3;
}

.service {
  background-color: #f4f8f9;
}

.service-slider-list {
  position: relative;

  margin: 0;
  margin-top: 2px;
  padding: 0;

  list-style: none;
}

.service-slider-list::after {
  content: "";
  position: absolute;
  top: -50px;
  right: 0;

  width: 10px;
  height: 279px;

  background-image: url("../img/service-shadow-right.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.service-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slides-guarantee,
.slides-credit {
  display: none;
}

.service-button {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          box-sizing: border-box;
  width: 240px;
  min-height: 61px;
  padding-top: 14px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 22px;

  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  font-family: Cuprum, Arial, sans-serif;
  text-align: left;
  color: #ffffff;

  background-color: #32425c;
  border-bottom: 1px solid #4e637c;
}

.service-button:hover {
  background-color: #293449;
}

.service-slider-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  font-family: Cuprum, Arial, sans-serif;
  color: #32425c;
  text-transform: uppercase;
}

.service-slider-text {
  margin: 0;
  padding: 0;
}

.title-delivery {
  margin-bottom: 24px;
}

.text-delivery {
  width: 275px;
}

.slides-delivery {
  background-image: url("../img/service-delivery.png");
  background-repeat: no-repeat;
  background-position: 151px 25px;
}

.slides-guarantee {
  background-image: url("../img/service-guarantee.png");
  background-repeat: no-repeat;
  background-position: 239px 3px;
}

.text-guarantee {
  width: 375px;
}

.slides-credit {
  background-image: url("../img/service-credit.png");
  background-repeat: no-repeat;
  background-position: 165px 1px;
}

.title-credit {
  margin-bottom: 24px;
}

.title-guarantee {
  margin-bottom: 24px;
}

.text-credit {
  width: 290px;
  margin-bottom: 27px;
}

.button-credit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 195px;
  min-height: 38px;
  margin: 0;
  padding: 0;
  padding-top: 10px;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.service-slider-slides {
  display: none;
  width: 630px;
  margin-left: 80px;
}

.slides-delivery {
  padding-bottom: 130px;
}

.slides-guarantee {
  padding-bottom: 106px;
}

.slides-credit {
  padding-bottom: 113px;
}

#delivery-radio-button:checked ~ .service-slider-inner .slides-delivery {
  display: block;
}

#guarantee-radio-button:checked ~ .service-slider-inner .slides-guarantee {
  display: block;
}

#credit-radio-button:checked ~ .service-slider-inner .slides-credit {
  display: block;
}

#delivery-radio-button:checked ~ .service-slider-buttons .delivery-button-active,
#guarantee-radio-button:checked ~ .service-slider-buttons .guarantee-button-active,
#credit-radio-button:checked ~ .service-slider-buttons .credit-button-active {
  display: block;

  color: #32425c;

  background-color: #ffffff;
  border-color: #ffffff;
}

.promo-delivery {
  margin: 0;
  margin-bottom: 35px;
  margin-left: 36px;
  padding: 0;

  list-style: none;
}

.delivery-company {
  position: relative;

  margin-bottom: 20px;

  font-size: 18px;
  line-height: 20px;
  font-family: Cuprum, Arial, sans-serif;
}

.delivery-company::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -36px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.promo-title,
.contacts-title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: normal;
}

.contacts-text {
  width: 180px;
  margin-bottom: 32px;
}

.button-promo {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  padding-top: 12px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 40px;
}


.button-contacts {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 300px;
  padding-top: 11px;
  padding-right: 58px;
  padding-bottom: 10px;
  padding-left: 64px;
}

.main-footer,
.footer {
  font-family: Cuprum, Arial, sans-serif;
}

.main-footer {
  margin-top: 85px;
}

.footer-top-group {
  padding-bottom: 50px;

  background-color: #32425c;
}

.footer-top {
  margin-bottom: 32px;
}

.footer-logo {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 220px;
  padding-top: 18px;
  padding-right: 41px;
  padding-bottom: 15px;
  padding-left: 41px;

  font-size: 30px;
  line-height: 30px;
}

.footer-navigation-list,
.footer-features-list,
.footer-social-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin-right: 120px;

  -ms-flex-wrap: wrap;
}

.footer-item {
  margin-left: 60px;

  font-size: 18px;

  line-heigt: 24px;
}

.footer-navigation-item {
  color: #f1f5f7;
}

.footer-feature-item {
  color: #ffd180;
}

.footer-item:hover {
  text-decoration: underline;
}

.footer-navigation-item:active {
  color: rgba(241, 245, 247 , 0.5);
}

.footer-feature-item:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-adress {
  width: 330px;
  margin: 0;
  margin-left: 2px;
  padding: 0;

  font-size: 18px;
  color: #f3f7f9;

  line-heigth: 24px;
}

.footer-bottom {
  padding-top: 37px;
  padding-bottom: 30px;

  background-color: #293449;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;

  background-color: #212a3a;
  border-radius: 50%;
}

.social:hover,
.social:active {
  background-color: #ee3643;
}

.social-vk {
  background-image: url("../img/social-vk.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-fb {
  margin-left: 5px;

  background-image: url("../img/social-fb.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-inst {
  margin-left: 5px;

  background-image: url("../img/social-inst.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-copyright {
  width: 230px;
  margin: 0;
  margin-right: auto;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.developers-contact {
  width: 140px;
  margin-right: 20px;
}

.developers-site {
  width: 112px;
  padding-left: 28px;
}

.developers {
  display: block;

  font-size: 16px;
  line-height: 18px;
}

.developers-label {
  font-weight: normal;
  color: #ffffff;
}

.developers-link {
  color: #ffd180;
}

.developers-link:hover {
  text-decoration: underline;
}

.developers-link:active {
  color: #ee3643;
}

.write-us {
  position: fixed;
  top: calc(50% - 215px);
  left: calc(50% - 310px);

  display: none;
  width: 620px;

  font-size: 18px;
  line-height: 18px;
  font-family: Cuprum, Arial, sans-serif;

  background-color: #ffffff;
  border-top: 7px solid #ff5357;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.write-us-form {
  position: relative;
}

.write-us-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin-top: 46px;
  margin-right: 80px;
  margin-bottom: 33px;
  margin-left: 80px;

  -ms-flex-wrap: wrap;
}

.write-us-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  min-width: 460px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.write-us-name,
.write-us-email,
.write-us-letter {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10px;

  border-radius: 3px;
}

.write-us-letter {
  padding-right: 10px;
  padding-bottom: 10px;
}

.write-us-name,
.write-us-email {
  width: 220px;
  height: 38px;
  padding-top: 8px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 13px;
}

.write-us-letter {
  width: 460px;
  height: 114px;
  padding-top: 8px;
  padding-left: 14px;

  resize: none;
}

.button-write-us {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 460px;
  min-height: 38px;
  margin-left: 80px;
}

.half-width {
  width: 220px;
}

.max-width {
  width: 460px;
  margin-top: 20px;
}

.close-modal {
  position: absolute;
  top: 9px;
  right: 9px;
  z-index: 4;

  width: 21px;
  height: 21px;

  background: none;
  background-image: url("../img/close-modal.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border: none;
  cursor: pointer;
}

button.button {
  border: none;
}

.write-us input,
.write-us textarea {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;

  border: 2px solid #dee3e4;
}

.write-us input:hover,
.write-us textarea:hover {
  border: 2px solid #b5b5b5;
}

.write-us input:focus,
.write-us textarea:focus {
  border: 2px solid #ee3643;
}

.write-us-button {
  padding-top: 37px;
  padding-bottom: 37px;

  background-color: #f4f4f4;
}

.write-us input::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #999999;
}
.write-us input::-moz-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #999999;
}
.write-us input:-ms-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #999999;
}
.write-us input:-moz-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #999999;
}
.write-us textarea::-webkit-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #999999;
}
.write-us textarea::-moz-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #999999;
}
.write-us textarea:-ms-input-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #999999;
}
.write-us textarea:-moz-placeholder {
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #999999;
}

.main-breadcrumbs {
  position: relative;
}

.breadcrumbs-items {
  position: absolute;
  top: -38px;
  left: 10px;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;

  -ms-flex-wrap: wrap;
}

.breadcrumb {
  display: inline-block;
  max-width: 150px;
  margin-right: 40px;

  line-height: 18px;
  vertical-align: top;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumb-icon {
  position: relative;
}

.breadcrumb-icon::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -23px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumb-home {
  width: 14px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 27px;

  font-weight: normal;

  background-color: #f2f6f8;
}

.sorting-title {
  display: block;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 18px;

  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.catalog-items-sorting .sorting-title {
  width: 140px;
  padding-right: 30px;
}

.sorting-item {
  display: inline-block;
  padding-top: 9px;

  vertical-align: top;
}

.sorting-icon-container {
  display: inline-block;
  width: 11px;
  height: 5.5px;
  padding-top: 14px;
  padding-bottom: 11px;

  vertical-align: center;
}

.sorting-up {
  display: block;

  border: 5.5px solid #c5c5c5;
  border-top: none;
  border-right-color: transparent;
  border-bottom-width: 9px;
  border-left-color: transparent;
}

.sorting-down {
  display: block;

  border: 5.5px solid #c5c5c5;
  border-top-width: 9px;
  border-right-color: transparent;
  border-bottom: none;
  border-left-color: transparent;
}

.sorting-up:hover {
  border-bottom-color: #231f20;
}
.sorting-down:hover {
  border-top-color: #231f20;
}

.sorting-active-up {
  border-bottom-color: #ee3643;
}

.range-inner {
  position: relative;

  min-height: 80px;
  margin-bottom: 9px;

  background-color: #f7f3ec;
}

.range-full-width {
  position: absolute;
  top: 39px;
  left: 20px;

  width: 180px;
  height: 2px;

  background-color: #d7dcde;
}

.required-width {
  width: 152px;
  height: 2px;

  background-color: #00ca74;
}

.catalog-range-button {
  position: absolute;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.min-price-button {
  top: 30px;
  left: 20px;
}

.max-price-button {
  top: 30px;
  left: 160px;
}

.min-price-value,
.max-price-value {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 95px;
  height: 38px;
  padding-top: 8px;
  padding-right: 5px;
  padding-bottom: 10px;

  font-size: 17px;
  line-height: 18px;
}

.min-price-value {
  padding-left: 46px;
}

.max-price-value {
  padding-left: 25px;
}

.price-range-form {
  margin-bottom: 25px;
}

.price-range-form input {
  background-color: #f7f3ec;
  border: none;
}

.price-range-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.connection-input-symbol {
  margin-top: 6px;
}

.price-range-form input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}
.price-range-form input::-moz-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}
.price-range-form input:-ms-input-placeholder {
  line-height: 18px;
  color: #000000;
}
.price-range-form input:-moz-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
}

.catalog-items-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;

  background-color: #f7f3ec;

  -ms-flex-wrap: wrap;
}

.catalog-filter-form {
  margin-top: 10px;
}

.catalog-filter-form fieldset {
  margin: 0;
  padding: 0;

  border: none;
}
.catalog-filter-form .charge-form-field {
  margin-top: 16px;
}

.catalog-filter-form .companies-form-field {
  margin-top: 15px;
}

.catalog-form-container {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.legend-title {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.legend-price {
  margin-bottom: 15px;
}

.company-form-list,
.charging-form-list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.company-form-list {
  margin-top: 14px;
  padding-bottom: 3px;
}

.company-form-list li {
  margin-bottom: 20px;
  padding-left: 34px;
}

.company-label {
  position: relative;

  display: block;
}

.company-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -34px;

  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.company-form-checkbox:checked + .company-label::before {
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
}

.company-label:hover::before {
  background-image: url("../img/checkbox-off-hover.svg");
}

.company-form-checkbox:checked + .company-label:hover::before {
  background-image: url("../img/checkbox-on-hover.svg");
}

.company-form-checkbox:disabled + .company-label {
  opacity: 0.3;
}

.charging-form-list {
  margin-top: 14px;
}

.charging-form-list li {
  margin-bottom: 20px;
  padding-left: 34px;
}

.charging-form-label {
  position: relative;

  display: block;
}

.charging-form-label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -35px;

  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
} 

.charging-form-input:checked + .charging-form-label::before {
  background-image: url("../img/radio-on.svg");
}

.charging-form-label:hover::before {
  background-image: url("../img/radio-off-hover.svg");
}

.charging-form-input:checked + .charging-form-label:hover::before {
  background-image: url("../img/radio-on-hover.svg");
}

.charging-form-input:disabled + .charging-form-label {
  opacity: 0.3;
}

.sorting-list,
.sorting-icon {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  width: 43px;
  margin-right: 17px;
  margin-left: auto;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.sorting-item {
  display: block;

  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;

  border-bottom: 1px dotted red;
}

.sort-type {
  color: #ee3643;

  border: none;
}

.sorting-item:hover {
  color: #000000;

  border-bottom: 1px solid red;
}

.sorting-item:focus {
  color: #ee3643;

  border: none;
}

.catalog-items-list,
.paginator-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-items-list {
  margin-bottom: 32px;
}

.paginator-page {
  margin-right: 10px;
  padding-top: 8px;
  padding-right: 14px;
  padding-bottom: 10px;
  padding-left: 15px;

  border-radius: 4px;
}

.paginator-next {
  margin-right: 10px;
  padding-top: 8px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 31px;

  border-radius: 4px;
}

.paginator-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  align-items: flex-end;
  width: 600px;
  margin-left: 240px;

  -webkit-box-align: end;
  -ms-flex-align: end;
  -ms-flex-wrap: wrap;
}

.catalog-items-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;

  -ms-flex-wrap: wrap;
}

.button-catalog-form {
  width: 140px;
  min-height: 38px;
  margin-top: 59px;
  padding-right: 10px;
  padding-left: 10px;

  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.paginator-item {
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
}

.paginator-item:hover {
  border: 1px solid #bdc6ca;
}

.paginator-item:active {
  border: 1px solid #ee3643;
}

.current {
  color: #ffffff;

  background-color: #ee3643;
  border: 1px solid #ee3643;
}

.drill-facts {
  padding-bottom: 69px;

  background-color: #f2f6f8;
}

.drill-facts-title {
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
  padding-top: 63px;

  font-weight: normal;
}

.drill-facts-text {
  margin: 0;
  padding: 0;
}

.modal-cart {
  position: fixed;
  top: calc(50% - 141px);
  left: calc(50% - 310px);

  display: none;
  width: 620px;

  font-size: 30px;
  line-height: 30px;
  font-family: Cuprum, Arial, sans-serif;

  background-color: #ffffff;
  border-top: 7px solid #ee3643;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-cart-text {
  position: relative;

  width: 370px;
  margin-top: 64px;
  margin-left: 178px;
}

.modal-cart-text::before {
  content: "";
  position: absolute;
  top: -16px;
  left: -97px;

  display: block;
  width: 66px;
  height: 66px;

  background-image: url("../img/icon-mark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 69px;
  padding-right: 80px;
  padding-left: 80px;

  background-color: #f1f1f1;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.modal-button-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 220px;
  min-height: 38px;
  margin-top: 37px;
  margin-bottom: 37px;

  -webkit-box-align: center;
  -webkit-box-pack: center;
  -ms-flex-align: center;
  -ms-flex-pack: center;
}

.button-clean {
  color: #000000;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.content-center {
  width: 940px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.catalog {
  margin-bottom: 68px;
}

.features-left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  align-content: flex-start;
  width: 620px;
  margin-right: 20px;

  -ms-flex-line-pack: start;
  -ms-flex-wrap: wrap;
}

.features-left-column .features-item {
  margin-bottom: 20px;
}

.features-left-column .features-item:nth-child(2n) {
  margin-left: 20px;
}

.features-right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  width: 300px;

  -ms-flex-wrap: wrap;
}

.features-right-column .features-item:not(:last-child) {
  margin-bottom: 20px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 53px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.goods {
  margin-bottom: 1px;
}

.goods-title {
  width: 580px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 4px;
  padding-left: 28px;

  font-weight: normal;
}

.goods-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;

  -webkit-box-align: center;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.goods-title-button {
  align-self: flex-start;
  margin-top: 25px;
  margin-right: 24px;
  margin-bottom: 25px;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  padding-left: 54px;

  -ms-flex-item-align: start;
}

.goods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;

  -ms-flex-wrap: wrap;
}

.goods-list .catalog-item:nth-child(4n) {
  margin-right: 0;
}

.goods-list .catalog-item {
  margin-bottom: 20px;
}

.companies {
  margin-bottom: 65px;
}

.companies-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 20px;

  -webkit-box-align: start;
  -webkit-box-pack: justify;
  -ms-flex-align: start;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.companies-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
} 


.service {
  margin-bottom: 79px;
}

.service-title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 65px;

  font-weight: normal;
}

.service-promo {
  width: 400px;
  margin-bottom: 68px;
}

.about-contact-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.promo {
  width: 515px;
}

.promo-text {
  margin: 0;
  padding: 0;
}

.first-promo-text {
  margin-bottom: 24px;
}

.second-promo-text {
  width: 400px;
  margin-bottom: 21px;
}

.contacts {
  width: 300px;
}

.map {
  position: fixed;
  top: calc(50% - 223px);
  left: calc(50% - 470px);

  display: none;
  width: 940px;
  height: 446px;
}

.map img {
  -webkit-box-shadow: 0 0 14.72px 1.28px rgba(47, 42, 43, 0.5);
          box-shadow: 0 0 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.contacts-map {
  width: 300px;
  height: 158px;
  margin-bottom: 40px;
}

.map-link {
  cursor: pointer;
}

.header-top-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin-bottom: 46px;

  -ms-flex-wrap: wrap;
}

.header-buy-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;

  -ms-flex-wrap: wrap;
}

.header-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -ms-flex-wrap: wrap;
}

.header {
  margin-bottom: 59px;
  padding-bottom: 60px;
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;

  -ms-flex-wrap: wrap;
}

.footer-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
  margin-left: auto;
}

.footer-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  margin-left: auto;

  -ms-flex-wrap: wrap;
}

.left-catalog-container {
  width: 220px;
}

.right-catalog-container {
  width: 700px;
}

.catalog-columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;

  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 355px;
  margin-right: 10px;
  margin-left: 52px;
  padding-bottom: 10px;

  -ms-flex-wrap: wrap;
}

.by-price {
  margin-right: 70px;
}

.by-type {
  margin-right: 33px;
}

.by-functionality {
  margin-left: 33px;
}

.new-features {
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.modal-show {
  display: block;

  -webkit-animation: write-us-animation 0.6s;
          animation: write-us-animation 0.6s;
}

.write-us-error {
  -webkit-animation: modal-error 0.6s;
          animation: modal-error 0.6s;
}

.map iframe {
  position: relative;
  z-index: 3;

  border: none;
}

.map .map-static {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  margin: 0;
}

@-webkit-keyframes write-us-animation {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes write-us-animation {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes modal-error {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes modal-error {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}